img {
  display: block;
  width: 100%;
  max-width: 100%;
}
.hidden {
  display: none;
}
.no-scroll {
  overflow: hidden;
}

body {
  color: $colorTextTitlePrimary;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
