{{#each data}}
  <li class='event-item'>
    <article class='event'>
      <div class='event-photo'>
        <img src='#' alt='eventFoto' class='event__img' /></div>
      <h3 class='event__title'>Tile</h3>
      <time data-time-local='' class='event__time'>Time</time>
      <p class='event-card__venue'>
        <img src='./images/main/Vector.svg' alt='vector' class='vector' />Venue
      </p>
    </article>
  </li>
{{/each}}
{{! все інше буде добавлено в js }}