{{#each data}}
  <div class='modal'>
    <button class='modal__close'>
      <img
        src='/src/images/modal/close.svg'
        alt='X'
        class='modal__close-icon'
      />
    </button>
    <div class='modal__icon-container'>
      <img src='#' alt='фото группи' class='modal__icon' />
    </div>
    <div class='modal__main'>
      <div class='modal__photo'>
        <img src='#' alt='фото группи' class='modal__img' />
      </div>
      <ul class='modal__information'>
        <li class='modal__categoris'>
          <h2 class='modal__category'>INFO</h2>
          <p class='modal__text'>
          </p>
        </li>
        <li class='modal__categoris'>
          <h2 class='modal__category'>WHEN</h2>
          <div class='modal__text-container'>
            <p class='modal__text'></p>
            <p class='modal__text'></p>
          </div>
        </li>
        <li class='modal__categoris'>
          <h2 class='modal__category'>WHERE</h2>
          <div class='modal__text-container'>
            <p class='modal__text'></p>
            <p class='modal__text'></p>
          </div>
        </li>
        <li class='modal__categoris'>
          <h2 class='modal__category'>WHO</h2>
          <p class='modal__text'></p>
        </li>
        <li class='modal__categoris'>
          <h2 class='modal__category'>PRICES</h2>
          <div class='modal__tickets'>
            <div class='modal__ticket'>
              <p class='modal__price'></p>
              <button class='modal__buy'>BUY TICKETS</button>
            </div>
            <div class='modal__ticket'>
              <p class='modal__price'></p>
              <button class='modal__buy'>BUY TICKETS</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <button class='modal__more'>MORE FROM THIS AUTHOR</button>
  </div>
{{/each}}
{{! вже під час роботи с js будуть добавленні назви властивостей }}