//кольори
$colorTextTitlePrimary: #dc56c5;
$colorTextPrimary: #ffffff;
$colorTextSecondary: #0e0e0e;
$colorButtons: #4c00fe;
$colorTextTertiary: #939393;
$colorModal: #fff2fd;
$headerInputsColor: rgba(255, 255, 255, 0.2);
//шрифти
$fontTextPrimary: 'Montserrat', serif;
