
:root {
  //кольори
  --colorTextTitle: #dc56c5;
  --colorTextPrimary: #ffffff;
  --colorBgPrimary: #0e0e0e;
  --colorButtons: #4c00fe;
  --colorTextSecondary: #939393;
  --colorBgModal: #fff2fd;
  //шрифти
  --fontTextPrimary: 'Montserrat', serif;
}

// bg-urls
$bgMobile: url(../images/bg/background-mobile.jpg);
$bgMobile2x: url(../images/bg/background-mobile@2x.jpg);
$bgMobileWebp: url(../images/bg/background-mobile.webp);
$bgMobileWebp2x: url(../images/bg/background-mobile@2x.webp);
$bgTablet: url(../images/bg/background-tablet.jpg);
$bgTablet2x: url(../images/bg/background-tablet@2x.jpg);
$bgTabletWebp: url(../images/bg/background-tablet.webp);
$bgTabletWebp2x: url(../images/bg/background-tablet@2x.webp);
$bgDesktop: url(../images/bg/background-desktop.jpg);
$bgDesktop2x: url(../images/bg/background-desktop@2x.jpg);
$bgDesktopWebp: url(../images/bg/background-desktop.webp);
$bgDesktopWebp2x: url(../images/bg/background-desktop@2x.webp);
$bgMain: url(../images/bg/main-background.jpg);
$bgMain2x: url(../images/bg/main-background@2x.jpg);
$bgMainWebp: url(../images/bg/main-background.webp);
$bgMainWebp2x: url(../images/bg/main-background@2x.webp);

