<header class="header">
  <div class="header__container">
    <div class="header__main">
      <div class="header__logo logo">
        <a href="#">
          <img src="./images/header/mobile/logo.svg" alt="EVENT-BOOSTER logo" />
        </a>
      </div>
    </div>

    <div class="header__search search">
      <h1 class="search__title">find best events around the world</h1>

      <div class="search__container">
        <form action="#" class="form form__section form__section--search">
          <input
            type="text"
            class="form__input input"
            placeholder="Start Searching"
            data-search
          />
          <button class="form__search" type="submit"></button>
        </form>
        <form action="#" class="form form__section form__section--country">
          <select
            class="form__select country-select"
            name="choose-country"
            id="chooseCountry"
            data-select_country
          >
            <option
              value="placeholder"
              class="country-select__option"
              selected
              disabled
            >
              Choose Country
            </option>
          </select>
        </form>
        <button class="filter-clear" type="button" data-clear>
          Clear filters
        </button>
      </div>
    </div>
  </div>
</header>
