<main>
  <div class="event">
    <div class="event-card">
      <img
        src="./images/main/euroVision.png"
        alt="eventFoto"
        class="event-card__img"
      />
      <h3 class="event-card__title">Eurovision 2021 finals!</h3>
      <p class="event-card__time">2021-05-13</p>
      <p class="event-card__venue">
        <img src="./images/main/Vector.png" alt="vector" class="vector" />Palace
        of Ukraine
      </p>
    </div>
    <div class="event-card">
      <img
        src="./images/main/atlas.png"
        alt="eventFoto"
        class="event-card__img"
      />
      <h3 class="event-card__title">Atlas Weekend</h3>
      <p class="event-card__time">2021-06-09</p>
      <p class="event-card__venue">
        <img src="./images/main/Vector.png" alt="vector" class="vector" />VDNH
      </p>
    </div>
    <div class="event-card">
      <img src="./images/main/lp.png" alt="eventFoto" class="event-card__img" />
      <h3 class="event-card__title">LP</h3>
      <p class="event-card__time">2021-07-27</p>
      <p class="event-card__venue">
        <img src="./images/main/Vector.png" alt="vector" class="vector" />Palace
        of Ukraine
      </p>
    </div>
    <div class="event-card">
      <img
        src="./images/main/monatic.png"
        alt="eventFoto"
        class="event-card__img"
      />
      <h3 class="event-card__title">MONATIK</h3>
      <p class="event-card__time">2021-07-17</p>
      <p class="event-card__venue">
        <img src="./images/main/Vector.png" alt="vector" class="vector" />VDNH
      </p>
    </div>
    <div class="event-card">
      <img
        src="./images/main/euroVision.png"
        alt="eventFoto"
        class="event-card__img"
      />
      <h3 class="event-card__title">Eurovision 2021 finals!</h3>
      <p class="event-card__time">2021-05-13</p>
      <p class="event-card__venue">
        <img src="./images/main/Vector.png" alt="vector" class="vector" />Palace
        of Ukraine
      </p>
    </div>
    <div class="event-card">
      <img
        src="./images/main/atlas.png"
        alt="eventFoto"
        class="event-card__img"
      />
      <h3 class="event-card__title">Atlas Weekend</h3>
      <p class="event-card__time">2021-06-09</p>
      <p class="event-card__venue">
        <img src="./images/main/Vector.png" alt="vector" class="vector" />VDNH
      </p>
    </div>
    <div class="event-card">
      <img src="./images/main/lp.png" alt="eventFoto" class="event-card__img" />
      <h3 class="event-card__title">LP</h3>
      <p class="event-card__time">2021-07-27</p>
      <p class="event-card__venue">
        <img src="./images/main/Vector.png" alt="vector" class="vector" />Palace
        of Ukraine
      </p>
    </div>
    <div class="event-card">
      <img
        src="./images/main/monatic.png"
        alt="eventFoto"
        class="event-card__img"
      />
      <h3 class="event-card__title">MONATIK</h3>
      <p class="event-card__time">2021-07-17</p>
      <p class="event-card__venue">
        <img src="./images/main/Vector.png" alt="vector" class="vector" />VDNH
      </p>
    </div>
    <div class="event-card">
      <img
        src="./images/main/euroVision.png"
        alt="eventFoto"
        class="event-card__img"
      />
      <h3 class="event-card__title">Eurovision 2021 finals!</h3>
      <p class="event-card__time">2021-05-13</p>
      <p class="event-card__venue">
        <img src="./images/main/Vector.png" alt="vector" class="vector" />Palace
        of Ukraine
      </p>
    </div>
    <div class="event-card">
      <img
        src="./images/main/atlas.png"
        alt="eventFoto"
        class="event-card__img"
      />
      <h3 class="event-card__title">Atlas Weekend</h3>
      <p class="event-card__time">2021-06-09</p>
      <p class="event-card__venue">
        <img src="./images/main/Vector.png" alt="vector" class="vector" />VDNH
      </p>
    </div>
    <div class="event-card">
      <img src="./images/main/lp.png" alt="eventFoto" class="event-card__img" />
      <h3 class="event-card__title">LP</h3>
      <p class="event-card__time">2021-07-27</p>
      <p class="event-card__venue">
        <img src="./images/main/Vector.png" alt="vector" class="vector" />Palace
        of Ukraine
      </p>
    </div>
    <div class="event-card">
      <img
        src="./images/main/monatic.png"
        alt="eventFoto"
        class="event-card__img"
      />
      <h3 class="event-card__title">MONATIK</h3>
      <p class="event-card__time">2021-07-17</p>
      <p class="event-card__venue">
        <img src="./images/main/Vector.png" alt="vector" class="vector" />VDNH
      </p>
    </div>
    <div class="event-card">
      <img
        src="./images/main/euroVision.png"
        alt="eventFoto"
        class="event-card__img"
      />
      <h3 class="event-card__title">Eurovision 2021 finals!</h3>
      <p class="event-card__time">2021-05-13</p>
      <p class="event-card__venue">
        <img src="./images/main/Vector.png" alt="vector" class="vector" />Palace
        of Ukraine
      </p>
    </div>
    <div class="event-card">
      <img
        src="./images/main/atlas.png"
        alt="eventFoto"
        class="event-card__img"
      />
      <h3 class="event-card__title">Atlas Weekend</h3>
      <p class="event-card__time">2021-06-09</p>
      <p class="event-card__venue">
        <img src="./images/main/Vector.png" alt="vector" class="vector" />VDNH
      </p>
    </div>
    <div class="event-card">
      <img src="./images/main/lp.png" alt="eventFoto" class="event-card__img" />
      <h3 class="event-card__title">LP</h3>
      <p class="event-card__time">2021-07-27</p>
      <p class="event-card__venue">
        <img src="./images/main/Vector.png" alt="vector" class="vector" />Palace
        of Ukraine
      </p>
    </div>
    <div class="event-card">
      <img
        src="./images/main/monatic.png"
        alt="eventFoto"
        class="event-card__img"
      />
      <h3 class="event-card__title">MONATIK</h3>
      <p class="event-card__time">2021-07-17</p>
      <p class="event-card__venue">
        <img src="./images/main/Vector.png" alt="vector" class="vector" />VDNH
      </p>
    </div>
    <div class="event-card">
      <img
        src="./images/main/euroVision.png"
        alt="eventFoto"
        class="event-card__img"
      />
      <h3 class="event-card__title">Eurovision 2021 finals!</h3>
      <p class="event-card__time">2021-05-13</p>
      <p class="event-card__venue">
        <img src="./images/main/Vector.png" alt="vector" class="vector" />Palace
        of Ukraine
      </p>
    </div>
    <div class="event-card">
      <img
        src="./images/main/atlas.png"
        alt="eventFoto"
        class="event-card__img"
      />
      <h3 class="event-card__title">Atlas Weekend</h3>
      <p class="event-card__time">2021-06-09</p>
      <p class="event-card__venue">
        <img src="./images/main/Vector.png" alt="vector" class="vector" />VDNH
      </p>
    </div>
    <div class="event-card">
      <img src="./images/main/lp.png" alt="eventFoto" class="event-card__img" />
      <h3 class="event-card__title">LP</h3>
      <p class="event-card__time">2021-07-27</p>
      <p class="event-card__venue">
        <img src="./images/main/Vector.png" alt="vector" class="vector" />Palace
        of Ukraine
      </p>
    </div>
    <div class="event-card">
      <img
        src="./images/main/monatic.png"
        alt="eventFoto"
        class="event-card__img"
      />
      <h3 class="event-card__title">MONATIK</h3>
      <p class="event-card__time">2021-07-17</p>
      <p class="event-card__venue">
        <img src="./images/main/Vector.png" alt="vector" class="vector" />VDNH
      </p>
    </div>
  </div>
</main>
