.container {
  padding-inline: 20px;
  max-width: 1640px;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .container {
    padding-inline: 80px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-inline: 165px;
  }
}
