.event {
  display: flex;
  align-items: center;
  flex-direction: column;
  column-gap: 5px;
  position: relative;
  &__img {
    object-fit: cover;
  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(17px / 14px);
    color: var(--colorTextTitle);
    text-align: center;
    max-width: 112px;
  }
  &__time {
    color: var(--colorTextPrimary);
    font-size: 14px;
    line-height: calc(17px / 14px);
  }
  &__text {
    font-weight: 600;
    font-size: 12px;
    color: var(--colorTextPrimary);
    line-height: calc(15px / 12px);
  }
  &__photo {
    border-radius: 50px 0px 50px 0px;
    overflow: hidden;
    max-width: 128px;
  }
}
.event::before {
  border: 1px solid var(--colorTextTitle);
  width: 85%;
  height: 45%;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50px 0 50px 0;
  opacity: 30%;
  content: '';
}

.vector {
  margin-top: 5px;

  width: 10px;
  height: 10px;
}

@media (min-width: 768px) {
  .event {
    &__img {
      // width: 180;
      height: 227px;
    }
    &__photo {
      max-width: 180px;
    }
    &::before {
      height: 50%;
      width: 70%;
      right: 20px;
    }
    &__title {
      font-size: 16px;
      font-weight: 700;
      line-height: calc(20px / 16px);
      max-width: none;
    }
    &__time {
      font-size: 16px;
      line-height: calc(20px / 16px);
    }
    &__text {
      font-size: 14px;
      color: var(--colorTextPrimary);
      line-height: calc(17px / 14px);
    }
  }
}
@media (min-width: 1200px) {
  .event::before {
    width: 65%;
    right: 30px;
  }
}
