.events {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 15px;
    row-gap: 40px;
  }
  &__item {
    flex-basis: calc((100% - 15px) / 2);
    animation: delayedFadeIn 0.5s ease;
  }
}



.error-message__not-found {
  padding: 50px;

  text-align: center;
}

@media (min-width: 768px) {
  .events {
    &__list {
      column-gap: 25px;
      row-gap: 60px;
      justify-content: center;
    }
    &__item {
      flex-basis: calc((100% - 50px) / 3);
    }
  }
  .error-message__not-found {
    padding: 0 0 20px;
  }
}
@media (min-width: 1200px) {
  .events {
    &__list {
      column-gap: 70px;
      row-gap: 65px;
    }
    &__item {
      flex-basis: calc((100% - 210px) / 4);
    }
  }
}

@keyframes delayedFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
