.footer {
  color: var(--colorTextSecondary);
  &__container {
    text-align: center;
    padding-bottom: 27px;
  }
  &__text {
    font-size: 14px;
    line-height: 1.21;
  }
}
@media (min-width: 768px) {
  .footer {
    ii &__container {
      padding-bottom: 18px;
    }
    &__text {
      font-size: 16px;
    }
  }
}
@media (min-width: 1280px) {
  .footer {
    &__container {
      padding-bottom: 19px;
    }
  }
}
