.header {
  padding-top: 80px;
  padding-bottom: 50px;
  position: relative;
  &__logo {
    width: 60px;
    position: absolute;
    top: 40px;
    left: 40px;
  }

  &__main {
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 136px;
      height: 118px;
      background: linear-gradient(215deg, #151515 0%, #505050 100%);
      border-bottom-right-radius: 100%;
    }
  }
}

.search {
  &__title {
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    max-width: 212px;
    margin: 0 auto;
    line-height: calc(22 / 18);
    margin-bottom: 25px;
  }
}

.search__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.form {
  &__section {
    width: 100%;
    max-width: 270px;
    margin: 0 auto;
    background-color: var(--colorInput);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    &--country {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__input {
    width: 100%;
    background-color: transparent;
    position: relative;
    &::placeholder {
      color: var(--colorTextSecondary);
    }
  }

  &__search {
    cursor: pointer;
    background-image: url('/src/images/header/icons/search.svg');
    width: 12px;
    height: 12px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    background-position: center;
  }

  &__select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;

    background-image: url('/src/images/header/icons/dropdown.svg');
    cursor: pointer;
    width: 15px;
    height: 10px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__section--country::before {
    content: 'Choose country';
    color: var(--colorTextSecondary);
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__logo {
      width: 100px;
    }
    &__container {
      padding-top: 40px;
      padding-bottom: 183px;
    }

    &__main {
      &::before {
        width: 202px;
        height: 167px;
      }
    }
  }

  .search {
    &__title {
      font-size: 30px;
      max-width: 355px;
      margin-bottom: 30px;
    }
  }
  .form {
    flex-direction: row;
    gap: 30px;
    justify-content: center;
  }

  .form__section {
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    &__logo {
      width: 136px;
    }
    &__container {
      padding-bottom: 193px;
    }

    &__main {
      &::before {
        width: 256px;
        height: 222px;
      }
    }
  }

  .search {
    &__title {
      font-size: 50px;
      max-width: 590px;
      margin-bottom: 50px;
    }
  }
}
