.events__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 15px 0px 25px;
  gap: 4px;
}
.event {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.event::before {
  border: $colorTextTitlePrimary;
  width: 109;
  height: 101;
  top: -15px;
  left: -15px;
  border-radius: 50px 0 50px 0;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-width: 1px;
}
.event-photo {
  width: 128px;
  height: 161px;
  border-radius: 50px 0px 50px 0px;
}
.event__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 17.07px;
  font-family: $fontTextPrimary;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: $colorTextTitlePrimary;
  text-align: center;
  max-width: 112px;
}
.vector {
  margin-top: 5px;

  width: 7px;
  height: 10px;
}
.event__time {
  color: $colorTextPrimary;

  font-family: $fontTextPrimary;
}
.event-card__venue {
  color: $colorTextPrimary;
  font-weight: bold;
  display: flex;
}
@media (min-width: 768px) {
  .events__list {
    gap: 13px;
    justify-content: center;
    padding: 50px 87px 0px;
  }
  .event {
    max-width: 196px;
    padding-bottom: 45px;
  }
  .event::before {
    width: 153;
    height: 143;
  }
  .event-photo {
    width: 180px;
    height: 227px;

    border-radius: 50px 0px 50px 0px;
  }
  .event__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    max-width: none;
  }
  .event__time {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
  }
}
@media (min-width: 1200px) {
  .events__list {
    padding: 50px 115px 0px;
    gap: 56;
  }

  .event {
    padding-bottom: 50px;
  }
}
