.modal {
  max-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--colorBgModal);
  border-radius: 150px 0;
  max-width: 272px;
  padding: 75px 15px 104px 15px;
  &__close {
    position: absolute;
    width: 17px;
    height: 17px;
    background-image: url(/src/images/modal/close.svg);
    right: 25px;
    top: 25px;
  }
  &__icon-container {
    aspect-ratio: 1;
    max-width: 102px;
    border-radius: 50%;
    overflow: hidden;
  }
  &__main {
    display: flex;
  }
  &__photo {
    display: none;
  }
  &__information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  &__categoris {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  &__category {
    font-weight: 600;
    font-size: 20px;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: var(--colorBgPrimary);
  }
  &__text--info {
    max-height: 100px;
    overflow: scroll;
  }
  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
  }
  &__tickets {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  &__ticket {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  &__price {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: var(--colorBgPrimary);
    display: flex;
    gap: 14px;
    &::before {
      content: '';
      display: block;
      width: 24px;
      height: 16px;
      background-image: url(/src/images/modal/ticket.svg);
    }
  }
  &__buy {
    max-width: 145px;
    font-weight: 500;
    font-size: 16px;
    color: var(--colorTextPrimary);
    border-radius: 5px;
    padding: 10px 19px;
    background-color: var(--colorButtons);
  }
  &__more {
    max-width: 230px;
    font-weight: 500;
    font-size: 16px;
    color: var(--colorButtons);
    border: 1px solid var(--colorButtons);
    border-radius: 5px;
    padding: 10px 3px;
    background-color: none;
    text-align: center;
  }
  &__logo {
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width: 768px) {
  .modal {
    gap: 43px;
    max-width: 595px;
    border-radius: 300px 0;
    padding: 28px 17px 56px 50px;
    &__main {
      display: flex;
      gap: 30px;
    }
    &__icon-container {
      max-width: 70px;
    }
    &__img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    &__photo {
      display: block;
      max-height: 416px;
      max-width: 233px;
    }
    &__information {
      align-items: flex-start;
      max-width: 265px;
    }
    &__categoris {
      align-items: flex-start;
    }
    &__text {
      text-align: left;
    }
    &__text-container {
      gap: 3px;
      align-items: flex-start;
    }
    &__tickets {
      align-items: flex-start;
    }
    &__ticket {
      align-items: flex-start;
    }
    &__more {
      max-width: 255px;
      padding: 10px 15px;
    }
  }
}

@media (min-width: 1280px) {
  .modal {
    max-width: 930px;
    padding: 62px 30px;
    &__main {
      gap: 60px;
    }
    &__icon-container {
      max-width: 132px;
    }
    &__photo {
      display: block;
      max-height: 641px;
      max-width: 360px;
    }
    &__information {
      max-width: 450px;
      gap: 20px;
    }
    &__categoris {
      gap: 7px;
    }
    &__category {
      font-size: 24px;
    }
    &__text {
      font-size: 18px;
    }
    &__text-container {
      gap: 5px;
    }
    &__tickets {
      gap: 30px;
    }
    &__ticket {
      gap: 20px;
    }
    &__price {
      font-size: 18px;
      &::before {
        width: 30px;
        height: 20px;
      }
    }
    &__more {
      max-width: 255px;
    }
  }
}
